<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <!-- Even code om account aanmaak backend te testen, pas maar aan, maar laat de name of hetzelfde of pas deze ook aan in de server.js -->
    <main>
      <div class="accountAanmaken">
        <% if (errorMessage) { %>
          <div class="error-message"><%= errorMessage %></div>
        <% } %>
            <h1>Aanmelden</h1>
            <form action="/add-account" method="post" enctype="multipart/form-data">
              <label for="name">Naam</label>
              <input name="name" type="text" >
        
              <label for="e-mailadress">E-mailadres</label>
              <input name="email" type="email" required>
        
                <label for="password">Password</label>
                <div class="password-wrapper">
                  <input name="password" type="password" required>
                <div class="tooltip-icon-wrapper">
                  <img src="static/images/question-mark-emoji-clipart-lg.png" alt="Info" />
                  <div class="tooltip-text">
                    <strong>Wachtwoord moet bevatten:</strong>
                    <ul>
                      <li>Minimaal 8 tekens</li>
                      <li>Minimaal 1 hoofdletter</li>
                      <li>Minimaal 1 kleine letter</li>
                      <li>Minimaal 1 cijfer</li>
                      <li>Minimaal 1 speciaal teken</li>
                    </ul>
                  </div>
                </div>
              </div>

              <label for="profiel-foto">Selecteer een foto voor je profiel</label>
              <input type="file" name="profielFoto" accept=".jpg, .jpeg, .png" />

              <button type="submit" value="Send Request">Aanmelden</button>
            </form>
            <p>Al een account? <a href="/inlog">Inloggen</a></p>
          </div>
      
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <script src="server.js"></script>
    <%- include('../partials/script'); %>
  </body>

</html>