<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>

<header>
  <%- include('../partials/header'); %>
  <div class="shape"></div>
</header>

    <main>
        <div class="opgeslagen-artiest-column">
            <h3>Mijn Opgeslagen Artiesten</h3>
          <section class="account-opgeslagen-artiest-grid">

            
            <%= artiesten[0].name %>

<!-- DIt invullen met de variabelen -->
            <% if (user && artiesten.length > 0) { %>
                <% artiesten.forEach(artiest => { %>
                  <div class="grid-item">
                    <img src="<%= artiesten.images %>" alt="Foto van <%= artiesten.name %>">
                    <h3><%= artiesten.name %></h3>
                    <p>Genre: <%= artiesten.genre %></p>
                    <p>popularity: <%= artiesten.popularity %></p>
                  </div>
                <% }) %>
              <% } else { %>
                <p>Je hebt nog geen artiesten opgeslagen.</p>
              <% } %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>